:root {
  --primary-color: #0072ff;
  --primary-color-rgb: 0, 114, 255;
  --secondary-color: #02D982;
  --secondary-color-rgb: 2, 217, 130;
}

/* :root {
  --primary-color: #FFAC1C;
  --primary-color-rgb: 255, 172, 28;
  --secondary-color: #F88379;
  --secondary-color-rgb: 248, 131, 121;
} */